.hero-section {
    background-image: url('E:\JunLennon\ComputerScience\2025\EthelMarket\frontend\react\src\assets\jik.jpg');
    background-size: cover;
    background-position: center bottom;

    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;

    background-image: 
        linear-gradient(to bottom, 
            rgba(0, 0, 0, 0) 70%,    
            rgba(0, 0, 0, 0.9) 95%,
            #000000 100%),
        url('E:\JunLennon\ComputerScience\2025\EthelMarket\frontend\react\src\assets\jik.jpg');

    min-height: 50vh;
    padding: 100px 20px 50px 20px;

    display: flex;
    flex-direction: column;

    justify-content: flex-start;
    text-align: left;
}

.hero-text-content {
    margin-top: 50px;
    width: 100%;

    text-align: left;
}

.main-title {
    font-size: 36px;
    font-weight: 800;
    margin: 0 0 10px 0;
    line-height: 1.1;
}

.date-location {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 40px;
}

.dday-wrapper {
    display: flex;
    flex-direction: column;

    width: 100%;

    align-items: center; 
    margin-top: 20px;
}

.dday-label {
    /*D-day 레이블만 부모의 중앙 정렬을 무시하고 왼쪽으로 이동 */
    align-self: flex-start; 

    font-size: 12px;
    letter-spacing: 5px;
    margin-bottom: 10px;
    font-weight: 500;
}