.church-map-container {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    padding: 0 20px;
    touch-action: manipulation;
    pointer-events: auto;
}

.church-map-address {
    font-size: 13px;
    color: #3B3B3B;
    line-height: 1.6;
    margin-bottom: 16px;
}

.church-map-address-item {
    margin-bottom: 4px;
}
