.footer-container {
    background-color: black;
    color: white;

    padding: 30px 20px;
    text-align: left;
}

.footer-logo-area {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.footer-logo {
    height: 40px;
    background-color: white;
}

.footer-division {
    border: none;
    border-top: 1px solid #333;
    margin: 20px 0;
    width: 100%;
}

.footer-info-area {
    font-size: 12px;
    line-height: 1.6;
}

.footer-text {
    margin: 0;
}

.copyright {
    font-weight: bold;
    margin-bottom: 10px;
}