.footer-container {
    background-color:#ffcd4a;
    color: #3B3B3B;

    padding: 30px 20px;
    text-align: left;
}

.footer-logo-area {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.footer-logo {
    height: 40px;
}

.footer-division {
    border: none;
    border: 1px solid white;
    margin: 20px 0;
    width: 100%;
}

.footer-info-area {
    font-size: 13px;
    line-height: 1.6;
}

.footer-text {
    margin: 0;
}

.copyright {
    font-weight: bold;
    margin-bottom: 10px;
}